
#projects-sec {
    display: flex;
    flex-direction: column;
    gap: 40px;
    & .project {
        display: flex;
        gap: 30px;
      }
  }
  
  .project-image {
    display: flex;
    align-items: end;
    background: #323443;
    padding: 40px 60px 0;
    position: relative;
    & :hover {
        background-image: linear-gradient(
          45deg,
          #fa8bff 0%,
          #2bd2ff 52%,
          #2bff88 90%
        );
      }
      & img {
        cursor: pointer;
      }
      & .icon {
        right: 5px;
        top: 5px;
        position: absolute;
        background-color: #494a57;
        display: flex;
        border-radius: 3px;
        cursor: pointer;
      }
  }
  
  .project-image 
  .project-info {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 700px;
  }