#window-sec {
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }
  .window-sec-info {
    max-width: 600px;
    display: grid;
    gap: 30px;
    & button {
      max-height: 60px;
    }
  }
  .windows {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 50px;
    & .window {
      min-width: 200px;
      height: 400px;
      background: url(sec2.jpg);
      background-attachment: fixed;
      background-size: cover;
      border-radius: 40px 40px 0 0;
    }
    &:nth-child(2) {
      border-radius: 40px;
    }
  }